    <navbar class="navbar margin-down">
        <div class="subnav title">The Logo</div>
        <div class="subnav">Middle Contents</div>
        <div class="subnav buttons">
            <button><a href="login_page.html">Login</a></button>
            <button><a href="register_page.html">Register</a></button>
        </div>
    </navbar>