
.navbar
{
    background:linear-gradient(teal, purple);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:8%;
    padding:20px;
    box-sizing:border-box;
    color:var(--slate100);
}
.cards-container
{
    border: 1px solid var(--slate500);
    background-color:var(--slate1000);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding:20px;

}
.title
{
    font-size:2rem;
}
.cards:hover
{
    transform:scale(1.05);
    background-color:var(--slate1100);   
}
.cards
{
    border:1px solid var(--slate500);
    padding:10px;
    transition: transform 0.2s ease;
}

/*   DOWN BELOW FOR THE USER_PROFILE   */
.profile-container
{
    padding:10px;
    margin:0px 30px 20px 30px;
    color:var(--slate100);
    background-color:var(--slate1000);
    display:flex;
    flex-direction:row;
}

.profile-img
{
    width:500px;
    height:500px;
}

.profile-left{
    border:1px solid var(--slate100);
}

.profile-right{
    border:1px solid var(--slate100);
    padding:20px;
}

.profile-container2{
    margin:0px 30px 20px 30px;
    display:flex;
}



.comments-container{
    padding:10px;
    flex: 0 0 40%;
    border: 3px solid var(--slate1000);
}

.comments{
    border: 2px solid var(--slate1000);
}


.profile-post-container{
    flex-grow:1;
    border: 3px solid var(--slate1000);
    background-color:var(--slate200);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
    padding:20px;

}


/*Below are the post-container*/

.main-post-container{
    border:2px solid var(--slate500);
    padding:20px;
    margin: 0px 20px 0px 20px;
}
.main-post-title{
    text-align:center;
}



.form-container{
    display:flex;
    justify-content: center;
    align-items:center;
}

.form-label{
    background-color: var(--slate1000);
}
