@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&display=swap');

@keyframes blur{
    from{
        transform: translateY(-50px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    } 
}
.blur{
    animation: blur 0.6s ease;
}


@keyframes blur-left{
    from{
        transform: translateX(-50px);
        opacity:0;
    }
    to{
        transform: translateX(0px);
        opacity:1;
    } 
}
.blur-left{
    animation: blur-left 0.6s ease;
}

@keyframes blur-right{
    from{
        transform: translateX(50px);
        opacity:0;
    }
    to{
        transform: translateX(0px);
        opacity:1;
    } 
}
.blur-right{
    animation: blur-right 0.6s ease;
}
@keyframes blur-bottom{
    from{
        transform: translateY(50px);
        opacity:0;
    }
    to{
        transform: translateY(0px);
        opacity:1;
    } 
}
.blur-bottom{
    animation: blur-bottom 0.6s ease;
}

.navbar
{
    background-color:var(--slate970);
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:8%;
    padding:20px;
    box-sizing:border-box;
    color:var(--slate100);
}

/*Main Page*/
.cards-container
{
    border-radius:20px;
    background-color:var(--slate970);
    display:flex;
    flex-direction: column;
    gap:20px;

}
.img-div-post{
    width:200px;
    height:200px;
}
.img-post{
    width:100%;
    height:100%;
    object-fit: cover;
}
.title-post{
    margin-right:10px;
    font-size:1.5rem;
}
.date-post{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(137, 138, 155);
    font-style:italic;    
}
.custom-select{
    
}
.cards-top
{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
    border-bottom:5px solid var(--slate1100);
    align-items: center;
}

.cards:hover
{
    transform:scale(1.05);
    background-color:var(--slate1000);   
}
.cards
{
    padding:10px;
    transition: transform 0.2s ease;
    border-bottom:1px solid rgb(217, 205, 241);
}

.title
{
    font-family: "Big Shoulders Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size:2rem; 
}
.middle{

}
.user-post{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(137, 138, 155);
    font-style:italic;
}

/*   DOWN BELOW FOR THE USER_PROFILE   */

.profile-container2{
    margin:50px 30px 0px 30px;
    display:flex;
    justify-content: center;
    gap:20px;
}

.profile-bar{
    background-color: var(--slate970);
    height:50px;
    padding:20px;
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}
.profile-circle-holder{
    border-radius:50%;
    background-color: aliceblue;
    border-color: var(--slate800);
    border-width: 2px;
    border-style:double;
    display:inline-block;
    width:120px;
    height:120px;
    position:relative;
    bottom:20px;
    background-image: url(fur.jpg);
    background-size:cover;
}
.navbar-img{
    background-image: url("1335810.png");
    background-size:cover;
}
.profile-username{
    position:relative;
    font-weight: 700;
}
.profile-post-container{
    display:flex;
    flex-direction: column;
    background-color:var(--slate970);
    border-radius:8px;

}
.comments-container{
    flex: 0 0 40%;
    border-radius:8px;
    background-color:var(--slate970);
    display:flex;
    flex-direction:column;
}
.comment-container{
    padding:20px;   
    border-bottom: 5px solid var(--slate1100);
    display:flex;
    flex-direction: column;
    width:100%;
    height:auto;
    box-sizing:border-box;
}
.profile-details-container{
    position:relative;
    bottom:65px;
    left: 140px;
    display:flex;
    flex-direction: column;
    gap:5px;
}
.profile-edit{
    width:70px;
}

.description-container{
    background-color:var(--slate970);
    border-radius:15px;
    border:1px solid var(--slate100);
    text-align:left;
    width:200px;
    min-height:200px;
    max-height:200px;
    overflow:hidden;
    position: relative;
    bottom:50px;
}

.profile-description{

}
.profile-edit{
    position:relative;
}

.profile-post-header
{
    padding:10px;
    transition: transform 0.2s ease;
    border-bottom:5px solid var(--slate1100);
}

/* For Editing the user Profile*/


.Update-form-container{
    padding:20px;
    margin:0px 500px 0px 500px;
    background-color: var(--slate100);
    color:var(--slate1000);
}
.Update-form{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: start;

}
.Update-form .input-box input{
    width:100%;
}
.Update-form .input-box button{
    width:100%;
}
.form-label{
    background-color: var(--slate1000);
}

input::file-selector-button{
    color:var(--slate100);
    background-color: var(--slate1000);
    border: none;
}
.form-profile-description{
    height:200px;
}



/*Below are the post-container*/

.main-post-container{
    border:2px solid var(--slate500);
    padding:20px;
    margin: 0px 20px 0px 20px;
}
.main-post-title{
    text-align:center;
}



/* for creating posts */

.for-center{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.post-form-container{
    color:black;
    background-color:aliceblue;
    justify-content: center;
    display:flex;
    flex-direction:column;
    width:30%;
    padding:50px;
}
.post-form .input-box input{
    width:100%;

}

.post-form .column-input-box{
    display:flex;
    flex-direction: row;
    gap:10px;
}


.post-content-box{
    height:300px;
}


/* CSS for making Login*/   
.login-form-container{
    padding:20px;
    margin:0px 500px 0px 500px;
    background-color: var(--slate100);
    color:var(--slate1000);

}
.login-form{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: start;

}
.login-form .input-box input{
    width:100%;
}
.login-form .input-box button{
    width:100%;
}
.form-label{
    background-color: var(--slate1000);
}

/* CSS for making Login*/   
.register-form-container{
    padding:20px;
    margin:0px 500px 0px 500px;
    background-color: var(--slate100);
    color:var(--slate1000);
}
.register-form{
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: start;

}
.register-form .input-box input{
    width:100%;
}
.register-form .input-box button{
    width:100%;
}
.form-label{
    background-color: var(--slate1000);
}

