
    <div class = "circles">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
    
    <navbar class="blur navbar margin-down">
        <div class="subnav title">Mihoyo-X</div></br>
        <img src = "https://static.miraheze.org/houkai2ndwiki/thumb/0/06/MiHoYo_O_logo.webp/739px-MiHoYo_O_logo.webp.png"/>
         <!--<div class="subnav">The Logo</div>
        <div class="subnav buttons">
            <input type="button" onclick="location.href='login_page.html'" value="Login">
            <input type="button" onclick="location.href='register_page.html'" value="Register">
        </div>-->
    </navbar>

    <div class="main">
        <div class="blur-bottom login-form-container">
            <h1 style="text-align: center;">Register</h1>
            <form class='login-form'>
                <div class="input-box-register">
                    <img src = "https://static.vecteezy.com/system/resources/previews/000/646/268/original/email-symbol-icon-vector.jpg"/>

                    <input type="email" placeholder="Username">
                </div>
                <div class="input-box-register">
                    <img src = "https://icon-library.com/images/password-icon-png/password-icon-png-4.jpg"/>
                    <input type="password"  placeholder="Password">
                </div>
                <div class="input-box-register">
                    <img src = "https://icon-library.com/images/password-icon-png/password-icon-png-4.jpg"/>
                    <input type="password"  placeholder="Verify Password">
                </div>
                <div class="input-box-register">
                    <img src = "https://filestore.community.support.microsoft.com/api/images/0ce956b2-9787-4756-a580-299568810730?upload=true"/>
                    <input type="text"  placeholder="Displayname">
                </div>
                <div class="input-box-register">
                    <img src = "https://filestore.community.support.microsoft.com/api/images/0ce956b2-9787-4756-a580-299568810730?upload=true"/>
                    <input type="date"  placeholder="Birthday">
                </div>
                <input type="button" onclick="location.href='main_page.html'" value="REGISTER" class="logregbutton">
                </form>    
        </div>
      
        <div class="register-prompt">
            Have an account already? Click <a href="login_page.html">here</a> to login.
        </div>
    </div>

    <footer class="sticky-footer">
        <div class="footer-content">
            &copy; 2024 Your Company. All rights reserved.
        </div>
    </footer>
